<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#292929"/>
  <meta name="Description" content="Pintreddit, made for inspiration by Rick Groot">
  <title><%= title %></title>
  <link rel="icon" href="/img/favicon.png">
  <link rel="apple-touch-icon" href="/img/favicon.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>