<%- include ('./header.html') %>

<header>
    <h1>Pintreddit, inspire yourself</h1>
</header>

<%- include ('./nav.html') %>

<main>
    <section id="list">
        <% data.forEach(post => { %>
        <a href="/r/<%= post.subreddit %>/post/<%= post.id %>">
            <article>
            <img src="<%= post.url %>" alt="<%= post.id %>">
                <img src="<%= post.thumbnail %>" alt="<%= post.id %>">
                
            </article>
        </a>
        <% }); %>
    </section>
</main>

<%- include ('./footer.html') %>